<div class="card-panel">
    <div class="row">
        <div class="input-field col s12 m3">                     
            <a class="waves-effect waves-light btn-small" (click)="quoteUSD()">                
                Quote USD
            </a>
        </div>   
        <div class="input-field col s12 m3">                     
            <a class="waves-effect waves-light btn-small" (click)="quoteBRL()">                
                Quote BRL
            </a>
        </div>  
    </div>
    <div class="card-panel">
        <table>
            <thead>
                <th>Currency</th>
                <th>Buying</th>
                <th>Selling</th>
                <th>Date</th>
            </thead>
            <tbody></tbody>
        </table>

    </div>

</div>
